@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background-color: azure;
    color : #000;
    padding : 5px 10px;
    border-radius: 5px;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
    font-size: 20px !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left : -5px !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right : -5px !important;
}